@page
@model Hibabejelento.Pages.GoodByeModel
@{
}
<h1 class="text-center">Köszönjük a bejelentését</h1>
<br />
<div class="text-center">Kollégáink hamarosan felveszi Önnel a kapcsolatot, addig szíves türelmét kérjük.</div>
<br />
<div class="fw-bold text-center">Bejelentésének a hibajegy száma: #@Model.TicketId</div>




